/*
font-family: "Montserrat", "Arial", sans-serif;
font-family: "Playfair Display", serif;
*/

/* Общие */

* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    
    color: #AE7C78;
    background: #FFFFFF;
}

.main-container {
    max-width: 1200px;
    margin: auto;
}

.main-nav,
.list_social {
    list-style-type: none;
}

.button-link {
    display: inline-block;
    box-sizing: border-box;
    width: 285px;
    height: 80px;
    padding: 30px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    background: #D89999;
    border-radius: 40px;
    color: #FFFFFF;
    text-decoration: none;
}

/* Header */

.page-header {
    margin-top: 26px;
    margin-bottom: 82px;
    height: 64px;
    border-top: 1px solid #AE7C78;
    border-bottom: 1px solid #AE7C78;
}

.header-container {
    margin: auto;
    max-width: 1200px;
}

.logo-header {
    position: absolute;
    top: 42px;
    left: 50%;
    margin-left: -50px;
}  

.main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    padding: 0;
}

.main-nav-item:nth-child(3) {
    margin-right: 100px;
}

.header-container a {
    line-height: 20px;
    color: #AE7C78;
    text-decoration: none;
}

/* Intro */

.intro {
    display: flex;
    gap: 20px;
    margin-bottom: 48px;
}

.col-4 {
    width: calc(100%/12*4);
}

.intro-image {
    max-width: 100%;
    height: auto;
}

.intro-text-title {
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 59px;
    margin: 0 0 24px 0;
    
    color: #AE7C78;
}

.intro-text-description {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 64px;
}

.intro span {
    font-style: italic;
}

.intro-card-center {
    margin-top: 60px;
}

/* Advantage */

.advantage {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}

.advantage-block:not(:last-child) {
    margin-right: 50px;
}

.advantage-description {
    margin: 0;
}

.advantage-image {
    max-width: 100%;
    height: auto;
    float: left;
    margin-right: 20px;
    margin-bottom: 40px;
} 

.advantage-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 8px;
}




/* .popular h2,
.catalog_a h2,
.steps h2,
.news h2,
.reviews h2,
.contacts h2  {
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;

    color: #AE7C78;
} */

/* Popular */

.popular {
    width: calc(100%/12*8);
    margin: auto;
}

.popular-title {
    text-align: center;
    margin-bottom: 36px;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;

    color: #AE7C78;
}

.popular-card {
    display: flex;
}

.popular-description-title,
.popular-description-price {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    
    color: #AE7C78;
}

.popular-description p {
    margin: 0 0 24px;
}

.popular-order {
    margin: 40px 0 0;
}

/* .popular-image {
    max-width: 100%;
    height: auto;
} */

.button_previous {
    width: 50px;
    height: 15px;
    background: #FFFFFF url(../img/arrow_previous.svg) no-repeat 0 0 ;
    border: none;
}

.button_next {
    width: 50px;
    height: 15px;
    background: #FFFFFF url(../img/arrow_next.svg) no-repeat 0 0 ;
    border: none;
}

/* Каталог*/

.catalog a {
    text-decoration: none;
}

.catalog_a h2 {
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF; 
}
.catalog_a p {
    color: #FFFFFF;
    text-align: center;
}

.catalog_wedding {
    position: absolute;
    width: 387px;
    height: 442px;

    background-image: url(../img/catalog-item-1.jpg);
    opacity: 0.87;
    border-radius: 10px;
}

.catalog_wedding::before {
    content: "";
    position: absolute;
    width: 387px;
    height: 442px;
    background: rgba(174, 124, 120, 0.6);
    opacity: 0.87;
    border-radius: 10px;
}

.catalog_seasonal {
    width: 387px;
    height: 442px;
    background-image: url(../img/catalog-item-2.jpg);
    border-radius: 10px;
}



/*скидка*/
.discount h2 {
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    color: #FFFFFF;
    line-height: 59px;
    letter-spacing: 0.02em;
}

.discount_promo p {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 29px;
}

.discount {
    width: 1200px;
    height: 391px;

    background: #AE7C78;
}

/*шаги*/

.steps_option {
    list-style-type: none; 
}

.steps_option h3 {
    font-weight: 500; 
}

/*Новости*/

.news p {
    font-size: 24px;
    line-height: 29px;
}

.contacts {
    position: absolute;
    width: 1440px;
    height: 644.1px;
    background-image: url(../img/map.png);
}

.contacts .contacts_list {
    position: absolute;
    width: 386px;
    height: 520px;
    background: #F7FAFC;
    box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
    border-radius: 12px;
}
/*Подвал*/
